<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <!-- mybatis与spring集成，数据库交由spring来管理 -->
    <!--<environments default="development">
        <environment id="development">
            <transactionManager type="JDBC" />
            &lt;!&ndash; 配置数据库连接信息 &ndash;&gt;
            <dataSource type="POOLED">
                <property name="driver" value="com.mysql.jdbc.Driver" />
                <property name="url" value="jdbc:mysql://localhost:3306/forwardweb" />
                <property name="username" value="root" />
                <property name="password" value="123456" />
            </dataSource>
        </environment>
    </environments>-->
    <typeAliases>
        <typeAlias alias="User" type="cn.forward.modules.user.entity.User" />
    </typeAliases>
    <!--<mappers>
        &lt;!&ndash; 注册userMapper.xml文件，
        userMapper.xml位于me.gacl.mapping这个包下，所以resource写成me/gacl/mapping/userMapper.xml&ndash;&gt;
        <mapper resource="mappings/mappings.user/mappings.user.xml"/>
    </mappers>-->

</configuration>